In [13]:
import os
from pathlib import Path
from op_op.load import load_deconv_calcium, load_raw_calcium, load_motion, load_events

In [14]:
DATA_DIR = Path(os.environ.get("DATA_DIR", "../..data")) / "raw"
MOUSE_NAME = "example-mouse"

In [15]:
df = load_deconv_calcium(DATA_DIR, MOUSE_NAME, "rdt-d1")
df.head()

,time,n0,n1,n2,n3,n4,n5,n6,n7,n8,...,n50,n51,n52,n53,n54,n55,n56,n57,n58,n59
0,0.0,0.007519,3.376215,0.0,0.0,0.0,0.0,1.055414,0.400485,0.030188,...,0.625385,0.0,0.501725,0.225079,0.638011,0.0,0.086927,1.847319,0.0,0.0
1,0.1,0.007473,3.349582,0.0,0.0,0.0,0.0,1.046672,0.395380,0.029833,...,0.607595,0.0,0.495974,0.221996,0.624759,0.0,0.086097,1.778013,0.0,0.0
2,0.2,0.007427,3.323158,0.0,0.0,0.0,0.0,1.038002,0.390339,0.029482,...,0.590310,0.0,0.490289,0.218955,0.611784,0.0,0.085276,1.711308,0.0,0.0
3,0.3,0.007382,3.296943,0.0,0.0,0.0,0.0,1.029404,0.385364,0.029135,...,0.573518,0.0,0.484669,0.215955,0.599077,0.0,0.084462,1.647105,0.0,0.0
4,0.4,0.007336,3.270934,0.0,0.0,0.0,0.0,1.020877,0.380451,0.028793,...,0.557203,0.0,0.479114,0.212997,0.586635,0.0,0.083656,1.585311,0.0,0.0

In [16]:
df = load_raw_calcium(DATA_DIR, MOUSE_NAME, "rdt-d1")
df.head()

,time,n0,n1,n2,n3,n4,n5,n6,n7,n8,...,n50,n51,n52,n53,n54,n55,n56,n57,n58,n59
0,0.0,0.001500,3.392521,-0.128361,0.871378,-0.428930,-0.048586,1.096583,0.326638,0.504377,...,0.166500,-0.241289,0.412225,0.007227,0.546943,0.366568,0.462965,1.330768,-0.052990,-0.376029
1,0.1,-0.168614,3.386274,0.116170,-0.195632,-0.219739,-0.008950,0.797488,0.242038,0.252346,...,0.425191,-0.259138,0.012159,0.073420,-0.127534,0.004914,0.100703,1.273180,-0.396128,0.025331
2,0.2,-0.224540,3.062015,0.124370,0.328926,-0.496898,0.012317,0.779102,0.366657,0.020969,...,0.409747,0.028326,0.465887,0.296020,0.236612,-0.059687,0.502446,1.427609,-0.510886,-0.085479
3,0.3,-0.059894,3.127142,0.019613,0.815906,-0.206339,0.029942,0.883294,0.373551,0.171104,...,0.395156,-0.062932,-0.004250,0.385968,0.232723,0.045755,0.200478,1.158081,-0.109644,-0.364081
4,0.4,0.156953,2.779127,0.144970,-0.766756,0.065740,-0.161019,1.110029,0.414577,0.181564,...,0.405692,-0.103253,0.253212,0.187916,0.295514,-0.139239,0.574655,1.171839,-0.123938,0.056308

In [17]:
df = load_events(DATA_DIR, MOUSE_NAME, "rdt-d1")
df.head()

,trial_idx,block_type,was_omission,was_forced_choice,start_time,mouse_init_time,screen_touch_time,reward_collection_time,chose_large,was_shocked
0,1,1,False,True,78.241,78.842,81.672,82.344,True,False
1,2,1,False,True,90.344,95.799,98.387,99.676,True,False
2,3,1,False,True,107.676,108.766,109.963,110.787,True,False
3,4,1,False,True,118.787,138.434,141.818,142.761,False,False
4,5,1,False,True,150.761,154.566,158.170,159.057,True,False

In [18]:
df = load_motion(DATA_DIR, MOUSE_NAME, "rdt-d1")
df.head()

   frame_idx  time           x           y    velocity
0          1  18.3  368.498688  368.475006         NaN
1          4  18.4  376.327393  392.465240  252.352920
2          7  18.5  372.444489  408.628235  166.228557
3         10  18.6  360.292694  424.654663  201.124964
4         13  18.7  340.526276  444.531738  280.322924